@charset "UTF-8";

body {
    background-color: rgba(70, 142, 236, 0.845);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}
header {
    text-align: center;

}
section {
    width: 500px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 10px;

}
footer {
    text-align: center;

}